/* Preview block */
.preview-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.preview {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.preview video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Export form */
.create-form {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.create-form input[type="text"],
.create-form textarea {
    width: 100%;
    height: 10rem;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: .5rem;
    box-sizing: border-box;
}

    .create-form select {
    width: 80%;
}

.create-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem; /* Adjust the gap between form groups */
}

.create-form .form-group label {
    margin-bottom: 0rem; /* Adjust the space between label and input */
}

.create-form .form-group:last-child {
    margin-bottom: 0; /* Remove margin for the last group */
}

.create-form button {
    width: auto;
    background-color: #238fce;
    padding: .5rem 2rem;
    border-radius: .5rem;
    margin: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Flexbox layout for medium to large screens */
@media (min-width: 768px) {
    .preview-block {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .preview {
        flex: 2;
        margin-bottom: 0;
        margin-right: 20px; /* Space between video and form */
    }

    .create-form {
        flex: 1;
        margin-top: 0;
    }
}

/* Video container */
.video-container {
    position: relative;
    display: inline-block;
}
.bounding-box {
    position: absolute;
    border: 2px solid;
    pointer-events: none;
}
