{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view.css') }}">
{% endblock %}

{% block breadcrumb %}
    <a href="{{ url_for('index') }}">Cameras</a> &gt; <a>{{ camera.name }}</a>
{% endblock %}

{% block content %}
        <div id="loader">
            <div class="spinner"></div>
        </div>
        <br />
        {% if results %}
            <div class="viewer-block">
                <div class="viewer">
                    <video id="video" autoplay muted></video>
                </div>
                {% if camera.speakerId is not none %}
                <div class="stream-buttons">
                    <button id="playAudioBtn" class="stream-btn">Play Audio</button>
                </div>
                {% endif %}
            </div>
        {% else %}
            <p>No footage found.</p>
        {% endif %}

{% endblock %}

{% if results and media %}
{% block script %}
<script>
    const playAudioBtn = document.getElementById('playAudioBtn');

    // Hide the loader when the video feed is loaded
    function hideLoader() {
        document.getElementById('loader').style.display = 'none';
    }

    // Fallback to hide the loader after a timeout in case the video feed fails to load
    setTimeout(hideLoader, 20000);  // Adjust the timeout as needed

    // Video player
    var video = document.getElementById('video');
    var videoSrc = '{{ results.hlsUrl | safe }}';
    if (Hls.isSupported()) {
        var hls = new Hls({
        xhrSetup: xhr => {
        xhr.setRequestHeader('Authorization', 'Bearer {{ media.access_token }}');
        }
    });
    hls.loadSource(videoSrc);
    hls.attachMedia(video);
    }
    else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    video.src = videoSrc;
    }

    // Play audio via the IP Speaker attached to the camera
    async function playAudio() {
        try {
            const response = await fetch('{{ url_for("play_audio", camera_id=camera.id) }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                }
            });
            if (response.ok) {
                alert('Playing Audio')
            } else {
                const data = await response.json();
                alert('Error playing audio: ' + data.message);
            }
        } catch (error) {
            alert('There was a problem.');
            console.error('Error:', error);
        }
    }

    // Listen for the 'canplay' event to hide the loader
    video.addEventListener('canplay', hideLoader);
    playAudioBtn.addEventListener('click', playAudio);
</script>
{% endblock %}
{% endif %}
