<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
        <!-- Navbar for navigation -->
        <div class="navbar">
            <a href="{{ url_for('api.index') }}">Home</a>
            <a href="{{ url_for('api.roles_page') }}">Roles</a>
            <a href="{{ url_for('api.logout') }}">Logout</a>
        </div>
    <div style="text-align: center;">
        <h1>Login</h1>
        {% if success %}
            <p class="success">{{ success }}</p>
        {% else %}
            <p>Please login using the link below:</p>
            {% if auth_url %}
                <a href="{{ auth_url }}" class="stream-btn" target="_blank" title="Login using Eagle Eye Networks">Login with Eagle Eye Networks</a>
            {% else %}
                <p><a href="/login">Login</a></p>
            {% endif %}
        {% endif %}
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>