body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #238fce;
}

p {
    color: #666;
}

/* Add styles for the result block */
.result-block {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.result-block h2 {
    text-align: center;
    color: #333;
}

.result-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.result {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result h3 {
    margin: 0;
    color: #555;
}

.result p {
    color: #888;
    margin: 5px 0 10px 0;
}

.result img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

/* Add styles for the navbar */
.navbar {
    background-color: #238fce;
    overflow: hidden;
    padding: 10px 0;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add styles for the breadcrumb */
.breadcrumb {
    margin: 20px 0;
    padding: 10px 0;
    text-align: left;
}

.breadcrumb a {
    color: #238fce;
    text-decoration: none;
    padding: 0 10px;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.pagination-controls {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.pagination-button {
    background-color: #238fce;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination-button:hover {
    background-color: #23b2ce;
}

/* Viewer styles */
.viewer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.viewer {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.viewer video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stream buttons */
.stream-buttons {
    margin-top: 20px;
}

.stream-btn {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #238fce;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.stream-btn:hover {
    background-color: #23b2ce;
}

.stream-btn.active {
    background-color: #4298B5;
}

.stream-btn:focus {
    outline: none;
}

/* Full-page loader */
#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Simple spinning animation */
.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #238fce;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* General form styles */
form {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 75%;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    margin: auto;
}

form p {
    margin: 15px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.time-select label {
    margin-right: 10px;
}

input[type="text"],
input[type="submit"],
input[type="datetime-local"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Input styling */
input[type="text"] {
    background-color: #f9f9f9;
    color: #333;
}

input[type="text"]:focus,
input[type="datetime-local"]:focus,
select:focus {
    border-color: #238fce;
    outline: none;
}

/* Style for the time selection form */
.time-select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    gap: 1rem; /* Adjust the gap between inputs and button */
}

.time-select-group {
    display: flex;
    margin-right: 2rem;
    align-items: center;
}

.time-select-group:last-child {
    margin-right: 0;
}

.time-select label {
    margin-right: 10px;
    font-weight: bold;
}

.time-select input[type="datetime-local"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.time-select button {
    background-color: #238fce;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.time-select button:hover {
    background-color: #23b2ce;
}

@media (max-width: 1000px) {
    .time-select-group {
        margin-right: 1rem; /* Smaller margin on smaller screens */
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .time-select {
        flex-direction: column; /* Stack elements vertically on very small screens */
        align-items: center; /* Center align the elements */
    }

    .time-select-group {
        margin-right: 0; /* No right margin when stacked */
    }

    .time-select-group:last-child {
        margin-bottom: 0; /* Remove bottom margin for the last group */
    }
}

/* Button styles */
input[type="submit"] {
    width: auto; /* Allow the submit button to size based on content */
    background-color: #238fce;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #23b2ce;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .time-select {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        align-items: center;
    }
}
.create-role-btn {
    position: fixed;
    top: 120px;
    right: 30px;
    background-color: #238fce;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-role-btn:hover {
    background-color: #1a6fa1;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #238fce;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-content h2 {
    margin-top: 0;
    color: #238fce;
}
.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: black;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input[type="text"], .form-group input[type="checkbox"] {
    width: calc(90% - 10px);
    font-size: 16px;
}
.permissions-section {
    text-align: left;
}
.permissions-section h3 {
    font-size: 18px;
    color: #238fce;
}
.permission-category {
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    position: relative;
    padding-left: 20px; /* Space for the + or - */
}

.permission-category::before {
    content: '+';
    position: absolute;
    left: 0;
    color: #238fce;
    font-size: 18px;
    line-height: 1;
    transition: transform 0.3s ease;
}

.permission-category.expanded::before {
    content: '-';
}
.permission-items {
    margin-left: 20px;
    text-align: left;
    display: none; 
}
.permission-items.visible {
    display: block; /* Show when the visible class is added */
}
.permission-items label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;

}

button {
    background-color: #238fce;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}
.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}
input:checked + .slider {
    background-color: #238fce;
}
input:checked + .slider:before {
    transform: translateX(14px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.error {
    color: red;
    text-align: center;
}
.bulk-action-container {
    text-align: right;
    margin: 10px 0;
}
.bulk-action-container select,
.bulk-action-container button {
    display: inline-block;
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 14px;
    width: 100px;
}
button:disabled {
    background-color: #ccc; /* Grey background */
    color: #666; /* Grey text */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
}