<!DOCTYPE html>
<html>
    <head>
        <title>Video Search</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

        {% if media %}
        <!-- Loading the Media Cookie here 
             To access images and videos from the Eagle Eye API,
             you will need fetch the session cookie before the HTML loads.
        -->
        <script src="{{ url_for('static', filename='fetch.js') }}"></script>
        {% endif %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
