<!DOCTYPE html>
<html>
    <head>
        <title>Video Export</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        {% if media %}
        <!-- Loading the Media Cookie here 
             To access images and videos from the Eagle Eye API,
             you will need fetch the session cookie before the HTML loads.
        -->
        <script>
            var requestOptions = {
            method: 'GET',
            headers: {
                "Authorization" : "Bearer {{ media.access_token }}",
            },
            credentials: 'include'
            };

            fetch("https://{{ media.base_url }}/api/v3.0/media/session", requestOptions)
            .then(response => response.json() )
            .then( body => fetch(body.url, requestOptions) )
            .then( response => console.log("response status", response.status ) )
            .catch(error => console.log('error', error));
        </script>
        {% endif %}
    </head>
    <body>
        <div class="navbar">
            Menu: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('view_files') }}">Files</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
