{% extends "base.html" %}

{% block content %}
        <h1>Eagle Eye Video Export</h1>
        <p>Select a video clip to export it to your local machine.</p>
        {% if camera %}
            Viewing clips for camera: {{ camera.name }}
        {% endif %}
        {% if results %}
            <div class="result-block">
                <h2>Select a clip.</h2>
                <div class="result-grid">
                {% for result in results %}
                    <div class="result">
                        <h3>{{result.startTimestamp}}</h3>
                        <a href="{{ url_for('preview', camera_id=camera.id, start=result.startTimestamp, end=result.endTimestamp) }}">
                            <img src="{{result.imageUrl}}" id="{{ result.id }}">
                        </a>
                    </div>                    
                {% endfor %}
            </div>
        {% else %}
            <p>No clips found.</p>
        {% endif %}
        {% if results and media %}
        <script type="application/json" id="results-data">
            {{ results|tojson|safe }}
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const resultsData = JSON.parse(document.getElementById('results-data').textContent);
                const accessToken = "{{ media.access_token }}";
                displayProtectedImages(resultsData, accessToken);
            });

            function displayProtectedImages(results, accessToken) {
                results.forEach(result => {
                    displayProtectedImage(result.id, result.imageUrl, accessToken);
                });
            }
        </script>
        {% endif %}

{% endblock %}
